body {
    font-family: Acme;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
#title{
    color: black;
    padding: 1rem;
    margin: 0;
    font-family:acme;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}
section {
    background-color: darkgray;
    border: 3px solid black;
    flex: 1 1 300px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
body{
    font-family: Acme;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
#chicken{
    text-align: right;
    background-color: palevioletred;
    margin-top: 0%;
    border: 3px solid black;
    width: fit-content;
}
#beef{
    text-align: right;
    background-color: darkred;
    margin-top: 0%;
    border: 3px solid black;
    width: fit-content;
}
#sushi{    
    text-align: right;
    background-color:darkkhaki;
    margin-top: 0%;
    border: 3px solid black;
    width: fit-content;
}
@media (min-width: 992px) {
    section {
      width: 33.333%;
    }
  }
  
@media (min-width: 768px) and (max-width: 991px) {
    section {
      width: 50%;
    }
    
    section:nth-of-type(3) {
      clear: left;
    }
  }
@media (max-width: 767px) {
    section {
      width: 100%;
    }
  }
.item{
    text-align: right;
  }
